<div class='about'>
  <p>This is some text.</p>
  <p>This is another paragraph</p>
  <p>This is a third paragraph</p>
</div>

<div class='about'>
  <p>This is a new pargraph</p>
  <p>This is my last paragraph</p>
</div>