<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">EmberBloggr</a>
    <ul class="nav">
      <li><a href="#">Posts</a></li>
      <li><a>About</a></li>
    </ul>
  </div>
</div>